* {
  box-sizing: border-box;
}/*
body {
  padding: 50px;
}*/
.container {
  overflow: hidden;
}
.is-animated {
  /*font-family: 'Helvetica Neue';*/
  /*font-weight: bold;*/
  padding: 0;
  position: relative;
}
.is-animated span {
  /*display: block;*/
  padding: 0 10px;
  width: 200px;
}
.property {
  font-size: 100%;
  text-align: right;
  border-right: 1px solid #000;
  width: 0;
  overflow: hidden;
  float: left;
  -webkit-animation-name: expandProperty;
  -webkit-animation-delay: .5s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
}
.value {
  font-size: 100%;
  float: left;
  overflow: hidden;
}
.value span {
  margin-left: -100%;
  -webkit-animation-name: expandValue;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes expandProperty {
  from {
    width: 0px;
  }
  to {
    width: 500px;
  }
}
@-webkit-keyframes expandValue {
  from {
    margin-left: -500px;
  }
  to {
    margin-left: 0;
  }
}