

/*@media handheld,only screen and (max-width:767px) {
.container-sm{
	width:600px;
	
}
}*/
.hero section:first-child{
	/*background-color:rgba(0,0,0,0.2);*/
/*	-webkit-box-shadow:0 1px 2px rgba(20,24,35,0.15); 
   -moz-box-shadow:0 1px 2px rgba(20,24,35,0.15); 
   box-shadow:0 1px 2px rgba(20,24,35,0.15); */
}

main.hero{font-size:15px;}
.hero section:nth-child(2){
	
	font-size:25px;
	margin-top:90px;
}

.hero section:nth-child(3){
	/*text-align: left;*/
	font-size:25px;
	line-height: 35px;
	/*text-shadow:0px 0px 10px #333;*/
}

/*.hero section div:nth-child(3){
	font-size:15px;
}*/

nav div:nth-child(2), nav div:nth-child(3){
	padding-top:5px;
};

#shadow_divider{
	background: url("img/shadow_divider.png") no-repeat;

}


/*#impact li:last-child{border-right: none;}*/
/*#impact section:last-child{border-bottom: none;}*/
#impact img{width:150px;}
.triangle-down {
	/*position: absolute;*/
	/*top:400px;*/
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid rgba(255,255,255,0.1);
}

.box-title{margin-top:20px;}
.box-offset{
	/*width:200px;*/
	height:150px;
	border-radius: 10px;
	/*background: #fff;*/
	padding: 10px;
	margin:10px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	 -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	-webkit-transition: all .2s ease-in-out;
}


.box-offset:hover{
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
	-moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

	-webkit-transform: scale(1.01);
}

/*section p {color:#808080;}*/
.circle{
	width:150px;
	height:150px;
	-webkit-border-radius:50%;
	border-radius:50%;
	border:1px solid #d3d3d3;

}
.circle:hover{
	background:#e8e8e8;
	-webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2)
	-moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
	}

footer{
  padding:60px 30px;
  background-color:black;
  color:#bdc3c7;
  line-height: 20px;
  font-size:13px;
  /*text-shadow:0 -2px 3px rgba(0, 0, 0, 0.2);*/
}






.box{
  margin-top:10px;
  width:100%;
  /*border-radius: 8px;*/
  border:1px solid #3f3f3f;
  /*background: #fdfdfd;*/

}


.impact-dot{
	z-index: 9999;
	position: absolute;
	display: block;
	border: 3px solid #ff5e3c;
	border-radius: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 3em;
	height: 3em;
	background: #ff5e3c;
	color: #fff;
	font-size: 0.6em;
	line-height: 1em;
	font-weight: 700;
	padding: 1.8em 0 0 0;
	text-align: center;
	margin: -1.4em 1em 0 0;
	text-transform: uppercase;
	float: left;
	
}
.SF{top: 250px;left: 9.8245614%;}
.NY{top: 210px;left: 21.491228%;}