

 nav {
  float: right;
}

.navbar{
  -webkit-box-shadow: 0 3px 6px -6px black;
     -moz-box-shadow: 0 3px 6px -6px black;
          box-shadow: 0 3px 6px -6px black;
          background-color: rgba(0,0,0,0.6);
}

nav li{float:left;}

nav a,.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-weight: 700;
  /*margin: 0 0 0 20px;*/
  font-size: 1em;
}
.navbar-nav>li>a:hover{
  color:#fff;
  background:rgba(0,0,0,0.3);
  font-weight:bold;
  /*color: #27ae60;*/
  /*border-bottom: 4px solid #333;*/
  border-bottom: 4px solid #2ecc71;
  padding-bottom: 13px;
}

.active {
  color: #27ae60;
  border-bottom: 2px solid #2ecc71;
  padding-bottom: 5px;
}


/*sub menu*/
ul#menu li ul.sub-menu {

    display:none;
    position: absolute;
    /*position: relative;*/
    top: 97px;
    left: 0;
    width: 132px;
    padding:7px 0 20px 0 ;
      -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  background-color: rgba(51,51,51,0.8);
  border-radius: 8px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}

ul.sub-menu a{color:white;font-weight: 400;}



.navbar-toggle{border:1px solid white;}




.navbar-brand{padding:0 0 0 15px;}
/*.navbar-brand{height: 77px;}*/
/***  nav.css ***/
nav{
  /*position: relative;
  display: block;
  z-index:99999;
  
  color:white;
 padding:7px;
   float: right;
  text-align: center;*/
  /*width:100%;*/
  /* bg ground color*/
 /* background-image: linear-gradient(top, #151513, #1f1f1d);
  background-image: -webkit-linear-gradient(top, #151513, #1f1f1d);
  background-image: -moz-linear-gradient(top, #151513, #1f1f1d);
  background-image: -o-linear-gradient(top, #151513, #1f1f1d);
  background-image: -ms-linear-gradient(top, #151513, #1f1f1d);
  
  */
/*  -webkit-box-shadow:0 1px 2px rgba(20,24,35,0.15); 
  -moz-box-shadow:0 1px 2px rgba(20,24,35,0.15); 
  box-shadow:0 1px 2px rgba(20,24,35,0.15); */

  /*background-color:#0c77b0;*/
  /*background-color:rgba(12,51,90,0.6);*/
  /*background-color:rgba(18,109,156,0.8);*/
   /*background-color:rgba(19,30,36,0.8);*/
  /*background-color:#777;*/
  /*background-color:linear-gradient(top,#3A9DD1 0%, #126D9C,100%);*/
  /*padding: 8px 60px;*/
  /*opacity:0.8;*/
  /*padding: 8px 3px;*/
  /*margin-top:0;*/
  /*margin-bottom: 0;*/
  /*position:fixed !important;bottom:0;*/
  /*top:0;*/
  /*background-color:#0e355d;*/
  /*background-color:#fc9b12;*/



}
/*
nav a {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 2.5em;
  height: 2.5em;
  background: #fff;
  border-radius: 50%;
  margin: 0 0.1em;
  border: 4px solid #47a3da;
}
*/

  
/*nav a{color:white;margin-left: 20px;}
nav a:hover{color:#85c79c;}
nav div{font-size:22px;}
nav ul {
  display:block;
  width:auto !important;
  margin:0 auto !important;
  overflow:hidden;
  list-style:none;
}
*/


/*nav a,.logo{color: white;font-size:17px;}*/
/*#logo{width:50px;}*/


