

/*@media (min-width: 600px) and (max-width: 1200px) {
  #engine-header {width: 80%; margin-left: 16%;}
}
*/

/*

@media (min-width: 600px) and (max-width: 980px) {
h3{font-size:1.075em;}
#partner div{margin-bottom:20px;font-size:1em; font-weight:bold;}


}

@media (min-width: 400px) and (max-device-width: 590px) {
  #engine-header p{font-size:1em;}
  #program .icon{font-size: 50px;}
 
  }

  @media (max-width: 450px) {
  
  #team_bg div{text-align: center;}
   #apply_btn div a{font-size:1em;}
  }
*/




/* Small devices (tablets, 768px and up) */
@media (max-width: 450px) {
	#partner-logo img{width:60%;}
	#team_bg div{text-align: center;}
    #apply_btn div a{font-size:1em;}
    #program, #apply{padding:0;}
    #engine-sector img{width: 70%;}
 	#address{margin: 30px 0;}
 #service section div{margin-bottom:30px;}
  #woofu{margin:0;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 451px) and (max-width: 980px) {
	#partner-logo img{width:30%;}
	#team_bg div{text-align: center;}
	#program, #apply{padding:0 8.8888889%;}
	#engine-sector img{width: 60%;}
	#team_profile div, #team_profile h5,#team_profile h6 {text-align: center;}
	#team_profile p{text-align: left;margin:0 10.3199174%;}
	#newsgrid{text-align: center;margin: 0 15.3846154%;}
	#address{margin: 30px 0;}
	#service section div{margin-bottom:50px;}
	 #woofu{margin:0;}
 	
}



/* Large devices (large desktops, 1200px and up) */
@media (max-width: @screen-lg-min) {

 
}




